/*HEADER - STYLES*/
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: nowrap; */
  height: 5em;
  width: 100%;
  padding: 0 2em;
  background-color: #00000080;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 50;
  box-shadow: 0 0 20px 10px #00000080;
}

header a figure {
  margin-left: 0;
}

figure {
  display: inline-block;
  height: 100%;
  margin: 0;
}

figure img {
  height: 3em;
}

.Light figure img {
  filter: drop-shadow(0 0 20px #00000080);
}

.Dark figure img {
  filter: drop-shadow(0 0 20px #ffffff80);
}

header button {
  margin-right: 0.5em;
}

.btn-header {
  display: flex;
}
