/*    S I D E B A R     */

.Sidebar {
  /* width: 3.875em; */
  width: 50%;
  /* padding: 0.5em 0.5em; */
  height: 100%;
  /* position: fixed; */
  /* background-color: var(--main-bg); */
  /* background: var(--main-gradient);*/
  display: flex;
  flex-direction: row;
  font-size: 1em;
  /* box-shadow: 0px 0px 15px 3px var(--main-bg); */
  transition: all 0.5s ease-in-out;
}

.close {
  width: 3.875em;
  transition: all 0.5s ease-in-out;
}

.Sidebar .icon-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em;
  margin: 0;
  width: calc(100%);
  height: 2.5em;
  left: 0;
  z-index: 100;
}

.Sidebar .icon-menu img {
  padding: 0.5em;
  border-radius: 100em;
  background-color: ghostwhite;
  cursor: pointer;
}

.Sidebar .category {
  width: 100% auto;
  padding: 0.5em;
  height: calc(100% / 3);
}

.Sidebar .category .title {
  font-size: 1.375em;
  text-transform: uppercase;
  background-color: cornflowerblue;
  text-align: left;
}

/*    S I D E B A R     D A S H B O A R D    */

.Sidebar .Dashboard {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  padding: 0;
}

.Sidebar .Dashboard .btn {
  font-size: 1em;
  font-weight: 400;
  height: 3.125em;
  margin: 1em 0;
  background-color: transparent;
  color: ghostwhite;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Sidebar .Dashboard .title {
  opacity: 0;
}

.Sidebar .Dashboard .btn .icon {
  margin: 0 0.875em;
}

.Sidebar .Dashboard .btn img {
  width: 1.125em;
  height: 1.125em;
}

/*    S I D E B A R     L O G O*/

.logo {
  background-color: transparent;
}

.logo .title {
  margin: auto;
  width: 5em;
  height: 5em;
  border-radius: 100em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c3450;
}

.logo .title .img-logo {
  width: 5em;
  height: auto;
}

.logo .btn {
  text-align: center;
  font-size: 1.5em;
}

/*    S I D E B A R     E X I T*/

.exit {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: transparent;
  padding: 0.5em 0;
  width: auto;
}

.exit .title {
  display: none;
}

.exit .btn {
  height: 3em;
  width: 100%;
  border-radius: 10em;
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  color: #282c34;
}

.close .exit {
  padding: 0;
  margin: 0.5em 0;
}

.close .exit .btn {
  border-radius: 1em;
  transition: all 0.5s ease-in-out;
}

/* .category.exit .btn:hover {
   transition: all 0.5s ease-in-out;
} */

.Dashboard .btn.btn-primary {
  padding: 1rem;
  cursor: pointer;
  border-radius: 1em;
}

.Dashboard .btn:hover {
  background-color: rgba(248, 248, 255, 0.267);
  transition: all 0.5s ease-in-out;
}

.title {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.close .logo,
.close .Dashboard .title,
.close .btn-perfil {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.close .btn-exit p,
.close .btn-primary p {
  display: none;
}

.close .icon-menu {
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.btn-active:not(.btn.tooltiptext) {
  background-color: ghostwhite;
  color: #282c34;
  font-weight: 700;
}
