.tabla {
  width: calc(100% - 2em);
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-top: 1em;
}

.tabla caption {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.tabla table {
  background-color: aliceblue;
  width: 100%;
  height: auto;
  overflow-x: hidden !important;

  border-collapse: collapse;
}

table tbody td {
  color: var(--text-dark);
  text-align: center;
}

table thead {
  color: var(--text-dark);
  height: 2.5rem;
}

tbody tr:nth-child(odd) {
  background-color: cornflowerblue;
}

table .td-modificar button {
  margin: auto;
}

table .td-eliminar button {
  margin: 0.4rem auto;
}