.tabla {
  width: calc(100% - 2em);
  background-color: #00000025;
  box-shadow: 0 0 20px 10px #00000050;
  border-radius: 1rem;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}

.tabla:hover {
  box-shadow: 0 0 20px 10px #00000080;
  transition: all 0.2s ease-in-out;
}

.tabla caption {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.tabla table {
  background-color: aliceblue;
  width: 100%;
  height: auto;
  overflow-x: hidden !important;

  border-collapse: collapse;
}

table tbody td {
  color: var(--text-dark);
  text-align: center;
}

table thead {
  color: var(--text-dark);
  height: 2.5rem;
}

tbody tr:nth-child(odd) {
  background-color: cornflowerblue;
}

table .td-modificar button {
  margin: auto;
}

table .td-eliminar button {
  margin: 0.4rem auto;
}
