.homepage {
  position: relative;
  left: 16em;
  width: calc(100% - 16em);
  height: 100vh;
  min-height: inherit;
  transition: all 0.5s ease-in-out;
}

.Sidebar.close~.homepage {
  left: 5.875em;
  width: calc(100% - 5.875em);
  transition: all 0.5s ease-in-out;
}

.container-devices {

  margin-top: 1.2rem;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;

}

.container-devices div {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 20rem;
  min-width: 20rem;
  border: 1px solid var(--main-bg);

  padding: 0.5rem;
  text-align: center;
}

.container-devices div input[type='date'] {
  margin: 1.2rem 1rem;
}

.container-devices div button {
  justify-content: center;
  font-weight: bold;
  width: 60%;
}