.tooltiptext {
   visibility: hidden;
   position: absolute;
}

.close .btn .tooltiptext {
   visibility: hidden;
   width: 120px;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   left: 110%;
   box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.50);
}

.Light .tooltiptext {
   background-color: rgb(0, 0, 0);
   color: #fff;
}

.Dark .tooltiptext {
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
}

/* F L E C H A    Tooltiptext*/
.close .btn .tooltiptext::after {
   content: "";
   position: absolute;
   top: 50%;
   right: 100%;
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
}

.Light .tooltiptext::after {

   border-color: transparent black transparent transparent;
}

.Dark .tooltiptext::after {
   border-color: transparent white transparent transparent;

}

.close .btn:hover .tooltiptext {
   visibility: visible;
}

.btn-active .tooltiptext {
   filter: invert(1);
}