:root {
  --main-gradient: -webkit-radial-gradient(
    top left,
    rgba(125, 155, 245, 0.7),
    rgba(255, 255, 255, 0.216)
  );
  --main-gradient-r: -webkit-radial-gradient(
    top right,
    rgba(125, 155, 245, 0.7),
    rgba(255, 255, 255, 0.216)
  );

  --main-color: #282c34;
  --main-color-50: #282c3460;
  --main-bg: cornflowerblue;
  --text: ghostwhite;
  --text-dark: #282c34;
}

* {
  margin: 0;
  padding: 0;
}

.Light {
  height: 100vh;
  background: var(--main-gradient);
  color: #282c34;
}

.Dark {
  height: 100vh;
  background-color: #282c34;
  color: ghostwhite;
}

a {
  text-decoration: none;
  color: #282c34;
}
