* {
  margin: 0;
  padding: 0;
}

.Light {
  background-color: ghostwhite;
  color: #282c34;
}

.Dark {

  background-color: #282c34;
  color: ghostwhite;
}

a {
  text-decoration: none;
  color: #282c34;
}